.header {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Garante que o conteúdo fique alinhado à esquerda */
  align-items: center; /* Alinha verticalmente o conteúdo */
}

.logo {
  display: flex;
  justify-content: flex-start; /* Garante que o logo fique alinhado à esquerda */
  align-items: center; /* Alinha o conteúdo verticalmente */
  margin-left: 6.5%;
}

.logo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin: 0; /* Remove as margens extras */
}

.logo a {
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Mantém a cor do texto do h1 */
}

@media (max-width: 768px) {
  .logo { 
    margin-left: 0%;
  }
}
